.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# 빌드 결과물 (가장 용량이 크고 깃허브에 올리면 안 되는 것들)
.gradle/


# 인텔리제이 설정 파일 (개인 컴퓨터 설정이라 올리면 충돌남)
.idea/


# 운영체제 임시 파일

Thumbs.db

# 미디어 업로드 폴더 (동영상 파일들이 쌓이는 곳이므로 백업에서 제외)
uploads/

# 시스템 로그 파일
*.log